footer {
  background-color: $darkBlue;
  height: 2.5rem;
  color: white;
  margin-top: 4rem;
  display: flex;
  align-items: center;

  & span {
    padding-left: $mediumPadding;
    font-size: 0.8rem;
  }

  & a {
    color: $primary;
  }
}