.header {
  margin: auto;
  position: relative;
  background-color: $darkBlue;
  height: 2.5rem;
  width: 100%;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);

  &__wrapper {
    position: relative;
    margin: auto;
    height: 100%;
    max-width: 1440px;
    padding-left: $mediumPadding;
  }

  &__logo {
    position: absolute;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: $primary;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  & span {
    display: inline-block;
    position: relative;
    font-weight: bold;
    top: 1rem;
    left: 3.75rem;
    padding-left: 0.5rem;
    color: white;
    transform: scaleX(0);
    transform-origin: left;
  }

}

.header__logo:hover img {
  animation: logoShaking 0.4s infinite;
}

.header__logo:hover+span {
  transform: scaleX(1);
  transition: transform 0.2s
}