.options {
  display: flex;
  flex-direction: column;
  gap: $smallPadding;
}

@media all and (max-width: 768px) {
  .options {
    gap: $smallPadding;
    padding: 0 $smallPadding;
    margin-top: $smallPadding;
  }
}