.optionDropdown {
  color: white;
  background-color: $darkBlue;
  width: 100%;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: $defaultBoxShadow;

  & summary {
    @include fontLondrina(1.125rem, 300);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $smallPadding $mediumPadding;
    list-style: none;
    border-radius: 0.5rem;

    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      @include fontAwesome(1rem, bold);
      content: '\f078';
      height: fit-content;
    }

  }

  & button {
    @include fontLondrina(1.125rem, 300);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    background-color: transparent;
    padding: $smallPadding $largePadding;
    border: 3px solid transparent;
    cursor: pointer;

    &:hover {
      border-color: $primary;
    }

    &.active {
      border-color: $primary;
      background-color: $primary;
    }
  }
}

.optionDropdown[open] {
  & summary {
    position: relative;
    z-index: 10000;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &::after {
      transform: rotate(180deg);
    }
  }

  & button:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}