.optionPicker {
  @include defaultContainer;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
  width: 50%;

  &__heading {
    display: none;
  }

  &__button {
    @include styledButton;
    padding: 0.75rem 3rem;
    box-sizing: border-box;
    border: 3px solid transparent;

    &:hover {
      background-color: $primary;
      color: white;
    }

    &.selected {
      background-color: $primary;
      color: white;
    }
  }
}