.results {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;

  & h2 {
    font-size: 1.5rem;
  }


  &__container {
    display: flex;
    gap: 2.5rem;
  }

  &__score {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    background-color: $primary;
    border-radius: 1rem;
    width: 200px;
    height: 200px;
  }

  &__answers {
    display: flex;
    flex-direction: column;
    background-color: $darkBlue;
    border-radius: 1rem;
    padding: 2.5rem;
    text-align: left;

    &__resume {
      display: flex;
      flex-direction: column;
      background-color: blue;
    }
  }
}

.progress_bar {
  width: 0;
  transition: 'width 5s'
}