.scoreBar {
  position: relative;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 600px;
  height: 5rem;
  display: flex;
  gap: 1rem;
  align-items: center;

  &__label {
    position: absolute;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.3rem;
    font-size: 1.3rem;
    height: 5rem;
    width: 5rem;
    border-radius: 2.5rem;
    background-color: $darkBlue;
    border: 3px solid $primary;
    box-shadow: $defaultBoxShadow;

    & span {
      animation: fadeInOut 0.5s 2.5s backwards, scaleRebound 0.5s 2.5s;
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      height: auto;
    }
  }

  &__container {
    background-color: $darkBlue;
    padding-left: 4.5rem;
    width: 100%;
    border-radius: 1rem;
    height: 1.5rem;
    overflow: hidden;
    box-shadow: $defaultBoxShadow;

    &__filler {
      height: 100%;
      background-color: $primary;
      animation: grow 2s ease-in-out;
    }
  }

  &__text {
    position: absolute;
    width: 100%;
    padding-left: 5.25rem;
    bottom: 0;
    animation: fadeInOut 0.5s 3s backwards;
  }
}

@keyframes grow {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scaleRebound {
  0% {
    transform: scale(0);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}


.scoreBar__spinner {
  display: inline-block;
  width: auto;
  height: auto;
}

.scoreBar__spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $primary;
  border-color: $primary transparent $primary transparent;
  animation: spinner 1s linear 3, fadeInOut 0.5s 2.5s reverse forwards;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}