.startWindow {
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  height: fit-content;
  height: 500px;

  &__content {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    height: 100%;

    h4 {
      font-family: 'Londrina Solid', cursive;
      position: absolute;
      padding: $mediumPadding $largePadding;
      z-index: 1000;
      font-size: 3rem;
      font-weight: 300;
      color: white;
      background: linear-gradient(rgba(0, 0, 0, 0.7), transparent);
      height: 30%;
      width: 100%;
      display: flex;
      justify-content: left;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.4s ease-in-out;
      animation: fadeInOut 0.4s ease-in;
      filter: saturate(0.5);
    }

    &__resume {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      color: white;
      width: 100%;
      padding: $mediumPadding;
      height: 50%;
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
      font-family: 'Londrina Solid', cursive;
      font-size: 1.5rem;
      line-height: 1.5rem;
      font-weight: 300;

      button {
        position: relative;
        font-family: 'Londrina Solid', cursive;
        padding: $smallPadding $largePadding;
        border-radius: 0.5rem;
        border: none;
        color: white;
        font-size: 1.5rem;
        background-color: darken($primary, 15%);

        &::before {
          content: 'Start !';
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          position: absolute;
          background-color: blue;
          border-radius: 0.5rem;
          left: 0;
          top: -0.5rem;
          background-color: $primary;
        }
      }
    }
  }
}

.startWindow:hover img {
  transform: scale(1.15) rotate(1.5deg);
}

@media all and (max-width: 768px) {
  .startWindow {
    box-shadow: none;
    border-radius: 0;
    height: 250px;
    width: 100%;

    &__content {
      border-radius: 0;

      h4 {
        font-size: 2rem;
        justify-content: right;
      }

      ul {
        display: flex;
        flex-direction: column;
      }

      &__resume {
        font-size: 1.25rem;

        button {
          font-size: 1.25rem;
        }
      }
    }

  }
}

//     &__content ul {
//     }
//   }

//   .startWindowContainer {
//     border-radius: 0;
//     max-width: 100%;
//   }
// }