@mixin styledButton {
  border: 3px solid transparent;
  font-size: 0.9rem;
  color: $mediumBlue;
  padding: $mediumPadding;
  font-weight: bold;
  background-color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);

  &:hover {
    background-color: $primary;
    color: white;
  }
}