@keyframes timer {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes cardShaking {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(0.2deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(0.2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes cardFadeOut {
  75% {
    opacity: 0;
  }

  100% {
    transform: translateX(-750px);
    opacity: 0;
  }
}

@keyframes cardFadeIn {
  0% {
    transform: translateX(750px);
    opacity: 0;

  }

  60% {
    opacity: 1;
    transform: translateX(-40px);
  }

  70% {
    transform: translateX(-40px);

  }

  100% {
    transform: translateX(0);
  }
}