@import './colors.scss';
@import './mixins/styledButton.scss';
@import './mixins/defaultContainer.scss';
@import './animations.scss';
@import './components/questionCard.scss';
@import './components/header.scss';
@import './components/results.scss';
@import './components/resume.scss';
@import './components/scoreBar.scss';
@import './components/categories.scss';
@import './components/optionPicker.scss';

@import './pages/homePage.scss';
@import './pages/quizzPage.scss';

body {
  margin: 0;
  font-family: Roboto, 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $mediumBlue;
  user-select: none;
  overflow-x: hidden;
}

main {
  padding: 0 1.25rem;
  max-width: 1440px;
  margin: 5rem auto 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media all and (max-width: 768px) {
  main {
    padding: 3rem 0;

  }
}