@import './colors.scss';
@import './mixins/styledButton.scss';
@import './animations.scss';
@import './components/questionCard.scss';
@import './components/header.scss';
@import './components/results.scss';
@import './components/resume.scss';
@import './components/scoreBar.scss';
@import './pages/homePage.scss';
@import './pages/quizzPage.scss';

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $mediumBlue;
  user-select: none;
  overflow-x: hidden;
}

main {
  padding: 5rem 1.25rem 0 1.25rem;
  max-width: 1440px;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}