$darkBlue : #1E4765;
$mediumBlue : #2c597c;

$primary : #FF0075;
$green : #32E875;

$smallPadding: 0.75rem;
$mediumPadding: 1.25rem;
$largePadding: 2.5rem;

$defaultBoxShadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);