.create-quiz-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;

  &__quizName {
    margin: 2rem 0 2rem 0;
    background-color: $darkBlue;
    border: none;
    padding: $smallPadding $mediumPadding;
    font-size: 1.5rem;
    color: white;
    border-radius: 1rem;
    outline: none;

    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &__controls {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: left;
    gap: 0.5rem;
    flex-wrap: wrap;

    button {
      background-color: $mediumBlue;
      font-weight: bold;
      color: white;
      border: 2px solid $darkBlue;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      box-shadow: $defaultBoxShadow;

      &.active {
        background-color: $primary;
        border: 2px solid $primary;
        color: white;
      }
    }
  }

  &__submit-button,
  &__add-button {
    @include fontLondrina(1.25rem, 300);
    background-color: $primary;
    color: white;
    padding: $smallPadding $mediumPadding;
    margin-top: 2rem;
    border-radius: 0.5rem;
  }

  &__add-button {
    background-color: white;
    color: $primary;
  }

  button[disabled] {
    cursor: initial;
    background-color: $darkBlue;
    color: $mediumBlue;
    border: none;
  }
}

//---------------card----------------------

.card {
  width: 100%;
  box-shadow: $defaultBoxShadow;
  border-radius: 1rem;
}

.card__header {
  display: flex;
  width: 100%;

  &__index {
    @include fontRoboto(2rem, 600);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    background-color: $primary;
    border-top-left-radius: 1rem;
  }

  &__question {
    word-wrap: break-word;
    border-top-right-radius: 1rem;
    width: 90%;
    color: #2c597c;
  }
}

.card__answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr min-content;
  background-color: $darkBlue;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  gap: $mediumPadding;
  padding: $mediumPadding;
}

.card input,
.card textarea {
  border: transparent;
  outline: none;
  font-size: 1rem;
  line-height: 1rem;
  padding: 1.25rem;
  font-weight: bold;
  resize: none;
}

.card__answers input {
  border-radius: 0.25rem;
  background-color: $mediumBlue;
  color: white;
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.25);

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}

input#correctAnswer {
  border: 2px solid $green;
}