.form {
  @include defaultContainer;
  position: relative;
  padding: 0;
  padding-top: 3rem; //h2 height
  width: 50%;
  margin: auto;

  h2 {
    background-color: $primary;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-left: $mediumPadding;
  }

  &__quiz {
    position: relative;
    height: 4rem;
    color: $mediumBlue;
    font-weight: bold;
    background-color: white;
    padding: $smallPadding $mediumPadding;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & aside {
      position: absolute;
      right: -13.5rem;
      height: 2rem;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      display: flex;
      padding: 0 $mediumPadding;
      align-items: center;
      color: white;
      background-color: $primary;
      opacity: 0;

      &::before {
        content: '';
        width: 0px;
        height: 0px;
        display: inline;
        border-style: solid;
        border-width: 16px 0 16px 16px;
        border-color: transparent transparent transparent $primary;
        transform: rotate(180deg);
        position: absolute;
        left: -1rem;
      }

      &.display {
        animation: modale 3.2s, leftRight 0.5s ease-in-out alternate infinite;
      }
    }

  }

  & button {
    @include styledButton;
  }

  &__newQuestion {
    padding: $smallPadding $mediumPadding;

    h3 {
      padding-bottom: $smallPadding;
    }

    input::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }

  }

  input {
    color: white;
    background-color: $mediumBlue;
    border: 3px solid transparent;
    border-radius: 0.5rem;
    padding: 0.5rem;
    outline: none;

    &#quizName {
      background-color: rgba($mediumBlue, 0.2);
      color: $mediumBlue;
      font-weight: bold;
    }

    &#question {
      width: 100%;
    }
  }

  &__answers {
    padding: $smallPadding 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    span {
      position: absolute;
    }
  }
}

input#correctAnswer {
  border: 2px solid $green;
}

@keyframes leftRight {
  0% {
    transform: translateX(5%);
  }

  100% {
    transform: translateX(-5%);
  }
}

@keyframes modale {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

button.createQuiz {
  position: absolute;
  height: 4rem;
  width: 10rem;
  bottom: -5.25rem;
  left: calc(50% - 5rem);
}

button.addQuestion {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}