.homePage {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "a b c";
  gap: 1.5rem;

  & .options {
    grid-area: a;
  }

  & .startWindow {
    grid-area: b;
  }

  & .customQuizzes {
    grid-area: c;
  }
}

//Responsive Design
@media all and (max-width: 768px) {
  .homePage {
    padding-top: 0;
    grid-template-columns: 1fr;
    grid-template-areas: "a"
      "b"
      "c";
    gap: 0;

    & .options {
      grid-area: b;
    }

    & .startWindow {
      grid-area: a;
    }

  }

}