.homePage {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.startButton {
  @include styledButton;
  background-color: $primary;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  width: 10rem;
}